*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background-image: url("wallpaperflare.com_wallpaper.jpg");
  
}
::selection{
  background: #149FEA;

}
.container{
  max-width: 1200px;
  padding: 50px 100px 100px 100px;
  margin: auto;
  height: 700px;
}
.container .image{
  float: left;
  width: 50%;
  height: 40%;
  padding: 0px;
}

p {
   width: 50%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 20px 0 20px 0;
   float: right; 
} 

p span { 
    background:#fff; 
    padding:10px;
    font-size: 20px; 
    color: #808080;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;

}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-pinterest {
    background: #cb2027;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}


.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  float: right;
  padding: 10px;
}

.wrapper .title{
  height: 90px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

}
.wrapper form{
  padding: 10px;
  padding-right: 20px;
  float: right;
  width: 40%;
  margin-right: 30px;
}
.wrapper .text{
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;

}
.wrapper form .row{
  height: 30px;
  margin-bottom: 30px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}

.wrapper form .pass{
  margin: 0px 0 20px 0;
}
.wrapper form .pass a{
  color: #149FEA;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #149FEA;
  border: 1px solid #149FEA;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
form .button input:hover{
  background: #fff;
  color: #149FEA;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  float: right;
}
.wrapper form .signup-link a{
  color: #149FEA;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
